Nivel Facil/Ejecución_programada.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          240,
          16
        ],
        "id": "63756c99-bf24-452c-91e4-cdf1b7feadb1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "url": "https://api.chucknorris.io/jokes/random",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          432,
          16
        ],
        "id": "2cf67bec-d358-4d04-a4ec-cd7dccc34272",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "388a0786-bca3-48a6-add9-3e2816e4e0e4",
                "name": "chiste",
                "value": "={{ $json.value }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          16
        ],
        "id": "cbcb0b4b-12ec-4c51-ba21-d4cf992b8375",
        "name": "Edit Fields"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          848,
          16
        ],
        "id": "fd5fdfd3-c44f-443a-9d18-c23782670efd",
        "name": "No Operation, do nothing1"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
    }
  }