Nivel Medio/Decisiones_automatizadas.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Verificacion de edad",
        "formDescription": "vamos a verificar que la edad del usuario para saber que si es mayor de edad",
        "formFields": {
          "values": [
            {
              "fieldLabel": "edad",
              "fieldType": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [-272, -16],
      "id": "4ee4f8a3-4190-4908-8890-a939bb4801a9",
      "name": "On form submission",
      "webhookId": "deac34cc-2fc6-4503-839a-a7877399cf0b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1282a066-144b-4730-ae58-dd871043d9fe",
              "leftValue": "={{ $json.edad }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "3c11443a-c436-4811-af77-24f49387f83b",
              "leftValue": "={{ $json.edad }}",
              "rightValue": 150,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-64, -16],
      "id": "0d78f557-8754-40b6-a3ce-e3edcc39db2f",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95e6e980-7bc6-4cf4-bc27-9324fab8aa1d",
              "name": "mensaje",
              "value": "=Parece que se cometio un error, {{ $json.edad }} es una edad invalida",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [144, -128],
      "id": "7f678078-9e44-445c-843a-72d9ce913943",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37c7b979-d112-4a3f-947e-28c58f4c6fbf",
              "leftValue": "={{ $json.edad }}",
              "rightValue": 18,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [144, 64],
      "id": "fa49c6f3-72b3-40cb-827d-b111d920dcf3",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95e6e980-7bc6-4cf4-bc27-9324fab8aa1d",
              "name": "mensaje",
              "value": "usted es mayor de edad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [368, -32],
      "id": "7f4733ef-ca2a-44c8-85be-fb0dcfacb6a3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95e6e980-7bc6-4cf4-bc27-9324fab8aa1d",
              "name": "mensaje",
              "value": "=usted es menor de edad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [368, 112],
      "id": "4d733072-e5ff-44d1-b749-739011430ff4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [656, -128],
      "id": "42541a6c-f135-4b2c-b410-aea124f068f2",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
  }
}
