Nivel Medio/Manejo_de_errores.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -416,
          48
        ],
        "id": "6d7b12fa-1cbe-43b8-b9c0-8ffb527128fb",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "=https://rickandmortyapi.com/api/character/{{Math.floor(Math.random() * 826) + 1}}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -224,
          48
        ],
        "id": "30cc8e4f-f98e-4190-9ec9-4a8c06775f7c",
        "name": "HTTP Request",
        "alwaysOutputData": false,
        "retryOnFail": false,
        "executeOnce": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9528cef5-6536-4cfb-b428-16f1135a2fec",
                "leftValue": "={{ $json.error.message }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          48
        ],
        "id": "33451331-53d0-46d2-a22c-de84b1fbaa2c",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          208,
          -80
        ],
        "id": "44c0e04d-7b08-405e-bf4b-3dda4d159930",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          208,
          112
        ],
        "id": "70f5bb89-1de8-43f4-8a54-7c929abeab01",
        "name": "No Operation, do nothing1"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
    }
  }