Nivel Medio/Parámetros_dinámicos.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          0
        ],
        "id": "6d7b12fa-1cbe-43b8-b9c0-8ffb527128fb",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "url": "=https://rickandmortyapi.com/api/character/",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "species",
                "value": "={{ $json.species }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          192,
          0
        ],
        "id": "30cc8e4f-f98e-4190-9ec9-4a8c06775f7c",
        "name": "HTTP Request"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          432,
          0
        ],
        "id": "84b92b51-1b99-489b-8ab5-484aa1678e7b",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3d14961a-ffcf-40a1-8fa1-b4ea469c2f18",
                "name": "name",
                "value": "rick",
                "type": "string"
              },
              {
                "id": "b7636c40-765c-4d61-9542-8ba49cd117ab",
                "name": "species",
                "value": "Humanoid",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          0
        ],
        "id": "fb7ac459-2aff-44dd-9c00-f6b3ca2026cc",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
    }
  }