Nivel Medio/Parámetros_dinámicos.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Búsqueda de Personajes",
        "formDescription": "Ingresa los parámetros para buscar personajes en Rick & Morty",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name",
              "fieldType": "text",
              "placeholder": "Ej: Rick, Morty, Beth..."
            },
            {
              "fieldLabel": "species",
              "fieldType": "text",
              "placeholder": "Ej: Human, Alien, Humanoid..."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [-304, 0],
      "id": "6d7b12fa-1cbe-43b8-b9c0-8ffb527128fb",
      "name": "On form submission",
      "webhookId": "aabb1234-0001-0001-0001-aabb12340001"
    },
    {
      "parameters": {
        "url": "https://rickandmortyapi.com/api/character/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "species",
              "value": "={{ $json.species }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [192, 0],
      "id": "30cc8e4f-f98e-4190-9ec9-4a8c06775f7c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aaa00001-0001-0001-0001-aaa000010001",
              "name": "total_encontrados",
              "value": "={{ $json.info.count }}",
              "type": "number"
            },
            {
              "id": "aaa00001-0001-0001-0001-aaa000010002",
              "name": "parametros_usados",
              "value": "=Nombre: {{ $('On form submission').item.json.name }} | Especie: {{ $('On form submission').item.json.species }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [432, 0],
      "id": "fb7ac459-2aff-44dd-9c00-f6b3ca2026cc",
      "name": "Resumen de resultados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [640, 0],
      "id": "84b92b51-1b99-489b-8ab5-484aa1678e7b",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Resumen de resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen de resultados": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b78bb889dab75452ebe597fb9c2fbbeb90b616c99a2191f4d5fb9e9720ec381b"
  }
}
